{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead text-left text-white">
	<div class="masthead-content">
		<div class="container-fluid text-container col-8 col-md-10">
            <div class="row">
                <div class="col-md-6 pl-2">
			        <h1 class="masthead-heading mb-3">Start your transformation today</h1>
			        <h2 class="masthead-subheading mb-4">With a plan tailored to you</h2>
                    <a href="{% url 'products' %}" class="btn btn-primary btn-xl rounded-pill">Get started</a>
                </div>
            </div>
		</div>
	</div>

    <!--Opaque Overlay-->
	<div class="opaque-overlay">&nbsp;</div>
</header>
<div class="container">
    <h2 class="text-center pt-5">How It Works</h2>
    <div class="row text-center pb-4 pt-5">
        <div class="col-md-4">
            <span class="plan-steps mx-auto">1</span>
            <h5 class="pb-3 pt-3">Start with a questionnaire</h5>
            <p>This is key to give us a clear picture of your overall health, body measurements, nutritional history and lifestyle and help the team to ensure you get the best start possible.</p>
        </div>
        <div class="col-md-4">
            <span class="plan-steps mx-auto">2</span>
            <h5 class="pb-3 pt-3">We’ll tailor your plan</h5>
            <p>We’ll now create your tailored calorie and macronutrient meal plan using our brand new recipes. These tailored meals will support your progression through each cycle, in total we will create over 90 recipes on your journey.</p>
        </div>
        <div class="col-md-4">
            <span class="plan-steps mx-auto">3</span>
            <h5 class="pb-3 pt-3">Training and nutrition cycles</h5>
            <p>Cycle One will be sent via email from our online support team. Now your journey can begin. There will be 3 cycles in total to complete the plan.</p>
        </div>
    </div>
</div>

{% endblock %}