{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead text-center text-white">
	<div class="masthead-content">
		<div class="container">
			<h1 class="masthead-heading mb-0">Start your transformation today</h1>
			<h2 class="masthead-subheading mb-0">With a plan tailored to you</h2>
			<a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Get started</a>
		</div>
	</div>

    <!--Opaque Overlay-->
	<div class="opaque-overlay">&nbsp;</div>
</header>

<main>
	<div class="container quote-container d-flex">
		<div class="row justify-content-center text-center">
			<div class="col col-md-6 align-items-center">
				<p class="mt-4">"This is not a traditional, low calorie, deprivation diet. It’s an education in fat
					loss, nutrition and macronutrients,
					where you eat more food than you ever thought possible and spend less time in the gym."</p>
				<span>Joe Wicks, The Body Coach</span>
			</div>
		</div>
	</div>
</main>


{% endblock %}