@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(5rem + 72px);
    padding-bottom: 7rem;
    background: url('/media/healthy.jpg') no-repeat fixed; ;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 50rem;
}

header.masthead .masthead-content {
    z-index: 1;
    position: relative
}

header.masthead .masthead-content .masthead-heading {
    font-size: 3rem
}

header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem
}

/*--------------------------------------------------------------------Hero image*/

.hero-img {
	background: url('/media/hero_img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
	height: 100vh;
	position: relative;
}

.opaque-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.15);
}

/*--------------------------------------------------------------------Hero Text*/

.hero-text-row {
	padding-top: 20rem;
}

.hero-text {
	font-family: "Montserrat", sans-serif;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 4.5rem;
	color: #000;
}

/*--------------------------------------------------------------------Quote*/

.quote-container {
    min-height:20rem;
    max-height:30rem;
}

/*-------------------------------------------------------------------------plan-steps*/
.plan-steps{
    background-color: red;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.15rem;
    color:#f0f0f0;
}

/*-------------------------------------------------------------------------footer*/

.footer-dark {
    background-color: #0e0829;
}

.list-inline {
	margin-top: 14px;
}

.social-links li a i {
	width: 56px;
	height: 56px;
	padding: 24px 0;
	margin: 20px;
	border-radius: 50%;
	font-size: 2.5rem;
	line-height: 12px;
	text-align: center;
	color: #d0d0d0;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

.social-links li a i:hover {
	background-color: transparent;
	color: #d0d0d0;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.footer-col {
	margin-bottom: 2rem;
}

.copyright {
	font-family: "Open Sans", sans-serif;
}

/*-------------------------------------------------------------------------products*/

.details-box {
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
    
}

.product-img {
	background-color: #f0f0f0;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.separator {
    border-top: 1px solid #d0d0d0;    
}

.product-price {
    float: right;
    margin: .375rem .75rem;
}

.product-name {
    min-height: 38px;
}

.btn {
    line-height: 1;
    border-radius:20px;
}

/*-------------------------------------------------------------------------breadcrumbs*/

.breadcrumb {
    background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item::before {
    content:">";
}

/*-------------------------------------------------------------------------buttons*/

.btn-blue-outline {
    border: 1px solid #0F4AF2;
    color: #0F4AF2;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
}

.btn-blue-outline:hover {
  background-color: #0F4AF2;
  color: white;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
}

/*-------------------------------------------------------------------------toast messages*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

/*-------------------------------------------------------------------------media queries*/

@media only screen and (max-width: 768px) {
  header.masthead {
    padding-top: 2.5rem;
    padding-left: 3rem;
    height: 30rem
    }
  header.masthead .masthead-content .masthead-heading {
    font-size: 1.7rem;
    }
    .text-container {
        margin-left:.5rem;
    }
    header.masthead .masthead-content .masthead-subheading {
    font-size: 1.2rem;
    }
}

@media only screen and (max-width: 400px) {
    header.masthead .masthead-content .masthead-subheading {
    font-size: .8rem;
    }
    header.masthead {
    padding-top: 2.5rem;
    padding-left:0;
    height: 20rem;
    }
    header.masthead .masthead-content .masthead-heading {
    font-size: 1.5rem;
    }
}