{% extends "base.html" %}
{% load static %}

{% block page_header %}
  
{% endblock %}

{% block content %}

<!--Breadcrumbs-->
<div class="container col-xl-10">
    <div class="row mb-5">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Categories</a></li>
                    {% if not categories %}
                        <li class="breadcrumb-item">All Products</li>
                    {% else %}
                        {% for cat in categories %}
                            <li class="breadcrumb-item">{{cat.friendly_name}}</li>
                        {% endfor %}
                    {% endif %}    
            </ul>
        </nav>
    </div>
</div>

<!--Heading-->

<div class="col-xl-10 offset-1 mb-4">
{% if not categories %}
    <h1>All Products</h1>
{% else %}
    {% for cat in categories %}
        <h1>{{cat.friendly_name}}</h1>
    {% endfor %}   
{% endif %}
</div>

<!--Category filter buttons-->
<div class="col-12 text-center mb-5">
    <a href="{% url 'products' %}" class="btn btn-blue-outline m-1">View all</a>
    <a href="{% url 'products' %}?category=cookware" class="btn btn-blue-outline m-1">Cookware</a>
    <a href="{% url 'products' %}?category=ovenware" class="btn btn-blue-outline m-1">Ovenware</a>
    <a href="{% url 'products' %}?category=food_prep" class="btn btn-blue-outline m-1">Food Prep</a>
    <a href="{% url 'products' %}?category=storage" class="btn btn-blue-outline m-1">Storage</a>
</div>

<div class="container col-xl-10">
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-4">
                <img class="product-img img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="details-box pb-3">
                    <h6 class="product-name"><strong>{{ product.name }}</strong></h6>
                    <div class="separator mt-3 mb-3"></div>
                    <div class="button-wrapper">
                        <a class="btn btn-outline-secondary add-btn">Add to Cart</a>
                        <a class="btn btn-outline-success view-btn" href="{% url 'product_detail' product.id %}">View</a>
                        <h6 class="product-price"><strong>€{{ product.price }}</strong></h6>
                    </div>
                </div>
            </div>
        {% endfor %} 
    </div>
</div>      
{% endblock %}