{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <h1>Test heading</h1>
{% endblock %}

{% block content %}
<div class="container col-10">
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="card h-100 border-0">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                    <div class="card-body">
                        <p class="">{{ product.name }}</p>
                        <p class="">€{{ product.price }}</p>
                    </div>
                </div>
            </div>  
        {% endfor %} 
    </div> 
</div>         
{% endblock %}